button {
	margin-bottom: 5px;
	margin-top: 5px;
}

div.headerblock {
	background: white;
	position: sticky;
	top: 0px;
	border-bottom: 2px grey solid;
	margin-bottom: 2px;
}

h1 {
	text-align: center;
}

div#timer {
	font-size: 3em;
	font-weight: bold;
	text-align: center;
}

table#inputTable {
	border: 3px red solid;
}

table#inputTable th,
table#inputTable td {
	border: 2px black solid;
	padding: 5px;
}

th.comment {
	width: 150px;
}

.float-bottom-cont {
		position: fixed;
		right: 0px;
		bottom: 0px;
}

.float-bottom-btn {
	width: 75px;
	height: 75px;
}

.float-bottom-btn button {
	margin: 8px;
	padding: 10px;
}
